<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotSpatial.Projections" version="1.9" targetFramework="net451" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net451" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net451" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net451" />
  <package id="ngit2" version="2.1.0.20130924" targetFramework="net451" />
  <package id="NuGet.Core" version="2.11.1" targetFramework="net451" />
  <package id="NuGet.Versioning" version="5.4.0" targetFramework="net47" />
  <package id="semver.tools" version="1.0.0" targetFramework="net451" />
</packages>